<h1>新規コントローラー作成</h1>
<p>
  関連するモデル名をからコントローラー名を作成します。<br>
  モデルと関連しないコントローラー名を作成する場合、下のフォームから作成してください。
</p>
<%= render partial: "normal_form" %>

<div class="link">
  <%= link_to 'コントローラー一覧へ', application_app_controllers_path %><br>
  <%= link_to 'アプリケーション詳細へ戻る', application_path(@application) %><br>
  <%= link_to 'トップページへ戻る', root_path %>
</div>