コード表示機能<br>
コントローラーに関するコードを表示する

<div>
<%= link_to 'コントローラー一覧へ', application_app_controllers_path %><br>
<%= link_to 'アプリケーション詳細へ戻る', application_path(params[:application_id]) %><br>
<%= link_to 'トップページへ戻る', root_path %>
</div>