<div>
記載するべきコード一覧
まだ未実装
事前準備に関するコードを記載していきたい。
</div>
<div>
<p>check true表示で@gemfileは取得できている</p>
<p><%= @gemfile.devise %></p>
</div>

<div>
コード
div class="terminal-field"
div class="code-field"

で分類
</div>