// Place all the styles related to the models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample-code {
  display: flex;
}

.left {
  margin: 0 30px 0 0;
}

// ターミナル操作に関するCSS
.code-field {
  color: white;
  margin-bottom: 40px;
}

.code-tab {
  background-color: #2A2A2A;
  padding: 10px 10px 5px 10px;
  display: inline-block;
}

.code-route {
  background-color: #2A2A2A;
  width: 700px;
  padding: 5px 20px 5px 5px;
  border-bottom: black solid 2px;
}

.code-contents {
  background-color: #2A2A2A;
  width: 700px;
  padding: 5px 5px 5px 20px;
  display: flex;
}
